@font-face {
    font-family: "gunship";
    src: url("/assets/gunship.ttf");
}

html, body, #root, #app {
    height: 100%;
    margin: 0;
    overflow: clip;
}

#app {
    /* Define the background and its 3 gradients : vertical lines, horizontal lines, and linear gradient */
    --lines-color: #90dbff40;
    background: repeating-linear-gradient(
            90deg,
            transparent 0px, transparent 100px,
            var(--lines-color) 100px, var(--lines-color) 101px,
            transparent 101px, transparent 250px,
            var(--lines-color) 250px, var(--lines-color) 251px,
            transparent 251px, transparent 450px,
            var(--lines-color) 450px, var(--lines-color) 451px,
            transparent 451px, transparent 650px,
            var(--lines-color) 650px, var(--lines-color) 651px
    ),
    repeating-linear-gradient(
            transparent 0px, transparent 150px,
            var(--lines-color) 150px, var(--lines-color) 151px,
            transparent 151px, transparent 200px,
            var(--lines-color) 200px, var(--lines-color) 201px,
            transparent 201px, transparent 350px,
            var(--lines-color) 350px, var(--lines-color) 351px,
            transparent 351px, transparent 430px,
            var(--lines-color) 430px, var(--lines-color) 431px
    ),
    linear-gradient(#358192, #080b0b);
    /* Use flex to split in two halves */
    display: flex;
    flex-direction: row;
    /* Set font properties for the whole app */
    font-family: "Lucida Console", monospace;
    color: rgba(255, 255, 255, 0.9);
}

/* HALVES */

.half {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

#first-half {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#second-half {
    padding: 15px 10px 10px 0;
}

/* GENERAL WINDOWS */

.window {
    overflow: hidden; /* I don't want any scrollbar on the window itself, just on the content */
    min-height: 150px; /* Don't shrink the window too hard */
    display: flex;
    flex-direction: column;
}

.window-bar {
    display: flex;
    flex-direction: row;
}

.window-titlebar-start {
    background-image: url("/assets/window-titlebar-start.png");
    height: 30px;
    width: 179px;
    flex-shrink: 1; /* Allow to shrink the icons */
}

.window-titlebar-title {
    background-image: url("/assets/window-titlebar-middle.png");
    padding: 8px 0 0 0;
    flex-grow: 1; /* Cover the entire middle space */
    flex-shrink: 0; /* The title is not allowed to shrink */
    font-family: gunship, sans-serif;
    text-align: center;
    color: white;
}

.window-titlebar-end {
    background-image: url("/assets/window-titlebar-end.png");
    height: 30px;
    width: 44px;
    flex-shrink: 0; /* Not allowed to shrink */
}

.window-content {
    overflow-y: auto;
    border: #6293aa solid;
    border-width: 0 5px 0 5px; /* Add the border only on left and right sides */
    padding: 10px;
    background: #1b556a;
}

.window-footerbar-start {
    background-image: url("/assets/window-footerbar-start.png");
    height: 30px;
    width: 70px;
}

.window-footerbar-title {
    background-image: url("/assets/window-footerbar-middle.png");
    flex-grow: 1; /* Cover the entire middle space */
}

.window-footerbar-end {
    background-image: url("/assets/window-footerbar-end.png");
    height: 30px;
    width: 40px;
}

/* SPECIFIC WINDOWS */

#description-window {
    margin: 0 10px 0 40px; /* The window is a bit of an offset, so that's not perfectly centered */
}

#canvas-window {
    min-height: 45vh;
    width: min-content;
}

#canvas-window .window-content {
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the canvas */
}

#config-window {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* CANVAS */

#eye-canvas-container {
    aspect-ratio: 1/1;
}

#eye-canvas {
    height: 100%;
    width: 100%;
}

/* CONFIGURATION ELEMENTS */

.config-actionbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.config-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.config-shape-header {
    margin-left: -12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.DotConfig, .CircleConfig, .BranchConfig {
    margin-bottom: 10px;
    padding-left: 20px;
    border-left: 2px solid #137a72;
}

.config-shape-control {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.config-shape-control input {
    accent-color: #137a72;
}

.config-shape-control input[type=text] {
    width: 40px;
    background: transparent;
    color: white;
    border: none;
    font-family: "Lucida Console", monospace;
    font-size: medium;
}

.config-shape-control select, .config-shape-control select:focus {
    margin-bottom: 1px;
    background-color: #137a72;
    border-color: #132c36;
}

/* TEXTS */

h1 {
    font-family: gunship, sans-serif;
    font-size: large;
    letter-spacing: .08rem;
}

h3 {
    margin: 0;
}

em {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

a {
    color: rgba(255, 255, 255, 0.6);
}

a:hover {
    color: #137a72;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
}

input[type=button] {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #132c36;
    padding: 3px 5px 3px 5px;
    font-family: "Lucida Console", monospace;
    font-size: large;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

input[type=button]:hover {
    background-color: #137a72;
}

/* MOBILE SCREEN FORMAT */

@media only screen and (max-width: 820px) {
    #app {
        overflow-y: auto;
        flex-direction: column;
    }

    .half {
        height: auto; /* Cancel the 100% height */
    }

    #first-half {
        padding: 5px;
    }

    #second-half {
        padding: 0 5px 305px 5px; /* Let room underneath for the canvas window */
    }

    .window {
        width: 100%; /* Force the windows to shrink horizontally */
    }

    #description-window {
        margin: 0; /* Cancel the margins made to have the window offset */
    }

    #canvas-window {
        position: absolute; /* Fix the canvas window at the bottom of the screen */
        min-height: auto; /* Cancel the previous min-height */
        height: 300px;
        bottom: 0;
        right: auto;
    }

    #config-window {
        height: auto;
    }

    #eye-canvas {
    }
}

/* SCROLLBARS */

@media only screen and (min-width: 821px) {
    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #6293aa;
    }

    ::-webkit-scrollbar-thumb {
        background: #137a72;
        box-shadow: inset 0 0 3px white;
    }
}
